.contact-me {
  height: 100vh;
  padding-top: 56px;
  background: #f0f0e8;
}

.contact-me-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .contact-me-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    //height: 40%;
    //justify-content: space-around;
    height: 80%;
    justify-content: space-evenly;
  }
  .contact-me-input {
    background-color: #f0f0e8;
    border: none;
    text-align: center;
  }
  .submit-btn {
    background: #cfc91d;
    border: none;
    border-radius: 0;
    width: 150px;
    color: #0b1016;
    font-weight: 800;
  }
}
