.navbar {
  background: rgba(11, 16, 22, 255) !important;
}

.navbar-nav {
  .nav-item {
    font-weight: 600;
    color: white !important;
  }
  .navbar-brand {
    img {
      width: 100px;
      height: auto;
    }
  }
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
